{% extends 'base.html.twig' %}

{% block title %}Valeur index{% endblock %}

{% block body %}
<div class="container">
{% for valeur in valeurs %}
    {% if valeur.valeur > valeur.idCapteur.seuilMax or valeur.valeur < valeur.idCapteur.seuilMin  %}
    {# read and display all flash messages #}
        {# <div class="flash-{{ label }}"> #}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                <strong class="me-auto">plage seuil depassé</strong>
                <small>
                    {{valeur.dateHeure|date('Y-m-d')}}
                    <br>
                    {{valeur.dateHeure|date('H:i:s')}}
                </small>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                </div>
                <div class="toast-body">
                    {{ valeur.idCapteur.nom }} : {{ valeur.idCapteur.ref.idIntervalle }}
                    ={{ valeur.valeur }}
                    {% if valeur.valeur > valeur.idCapteur.seuilMax %}
                    > {{valeur.idCapteur.seuilMax}}
                    {% else %}
                    &lt; {{valeur.idCapteur.seuilMin}}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="container">
    <h1>Valeur index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date/Heure</th>
                <th>nom</th>
                <th>Valeur</th>
                <th>etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for valeur in valeurs %}
            <tr>
                <td>{{ valeur.dateHeure ? valeur.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ valeur.idCapteur.nom }}</td>
                <td>{{ valeur.valeur }}</td>
                <td>
                    {% if valeur.valeur > valeur.idCapteur.seuilMax or valeur.valeur < valeur.idCapteur.seuilMin  %}
                    anormale
                    {% else %}
                    normale   
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('valeur_show', {'idValeur': valeur.idValeur }) }}">show</a>
                    <a href="{{ path('valeur_edit', {'idValeur': valeur.idValeur }) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('valeur_new') }}">Create new</a>
</div>
</div>
{% endblock %}
