{% extends 'base.html.twig' %}

{% block title %}Valeur index{% endblock %}

{% block stylesheet %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/helpers.esm.min.js" integrity="sha512-urWBnIv+F027G24xDNigjxvIuwnWlWy94W2yx77VkISKLzKSohOKOubMDhtEF6LZcEH7gctmNSpxDqIW/zMmUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block body %}
{% for valeur in valeurs %}
    {% if valeur.valeur > valeur.idCapteur.seuilMax or valeur.valeur < valeur.idCapteur.seuilMin  %}
    {# read and display all flash messages #}
        {# <div class="flash-{{ label }}"> #}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="alert" style="font-weight:bold;">
                <div class="toast-header">
                <strong class="me-auto" style="font-weight:bold;color:red;"><i class="bi bi-exclamation-circle-fill" style="color:red;"></i> plage seuil depassé</strong>
                <small style="font-weight:bold;">
                    {{valeur.dateHeure|date('Y-m-d')}}
                    <br>
                    {{valeur.dateHeure|date('H:i:s')}}
                </small>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                </div>
                <div class="toast-body">
                    {{ valeur.idCapteur.nom }} : {{ valeur.idCapteur.ref.idIntervalle }}
                    ={{ valeur.valeur }}
                    {% if valeur.valeur > valeur.idCapteur.seuilMax %}
                    > {{valeur.idCapteur.seuilMax}}
                    {% else %}
                    &lt; {{valeur.idCapteur.seuilMin}}
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    {% endif %}
{% endfor %}

<div class="container">
    <center><h1>Valeurs</h1></center>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark" >
                <th>Date/Heure</th>
                <th>nom</th>
                <th>indice</th>
                <th>Valeur</th>
                <th>etat</th>
                <!-- <th>actions</th> -->
            </tr>
        </thead>
        <tbody>
        {% for valeur in valeurs %}
            <tr class="table-info">
                <td>{{ valeur.dateHeure ? valeur.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ valeur.idCapteur.nom }}</td>
                <td>{{ valeur.idCapteur.ref.idIntervalle }}</td>
                <td>{{ valeur.valeur }}</td>
                <td>
                    {% if valeur.valeur > valeur.idCapteur.seuilMax or valeur.valeur < valeur.idCapteur.seuilMin  %}
                    <span class="badge bg-danger">alerte</span>
                    {% else %}
                    normal   
                    {% endif %}
                </td>
                <!-- <td>
                    <a href="{{ path('valeur_show', {'idValeur': valeur.idValeur }) }}"><i class="bi bi-search"></i>consulter</a>
                    <a href="{{ path('valeur_edit', {'idValeur': valeur.idValeur }) }}"><i class="bi bi-pencil-square"></i>modifier</a>
                </td> -->
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- <a class="btn btn-dark" href="{{ path('valeur_new') }}"><i class="bi bi-plus-square"></i> capteur</a> -->
</div>
<br>
<div class="container">
<center><h1>statistiques</h1></center>
<canvas id="myChart" width="1300" height="500"></canvas>
</div>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{capDate|raw}},
        datasets: [{
            label: 'valeur',
            data: {{capNom|raw}},
            backgroundColor: [
                'rgba(211,211,211)',
            ],
            borderColor: [
                'rgb(139,0,0)'
            ],
            borderWidth: 3,
            fill: false,
            tension: 0.4
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        responsive: false
    }
});
</script>

{% endblock %}

{% endblock %}
