{{ form_start(form) }}
    {{ form_row(form.idIntervalle) }}
    {{ form_row(form.rangmin) }}
    {{ form_row(form.rangmax) }}
    <button class="btn" style="background-color:rgb(93, 160, 104);color:white;">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
