{% extends 'base.html.twig' %}

{% block title %}Intervalle index{% endblock %}

{% block body %}
<div class="container">

    <center><h1>liste des intervalles</h1></center>
    <a class="btn" style="background-color:rgb(93, 160, 104);color:white;" href="{{ path('intervalle_new') }}"><i class="bi bi-plus-square"></i> intervalle</a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Rang min</th>
                <th>Rang max</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervalle in intervalles %}
            <tr class="table-info">
                <td>{{ intervalle.idIntervalle }}</td>
                <td>{{ intervalle.rangmin }}</td>
                <td>{{ intervalle.rangmax }}</td>
                <td>
                    <a class="btn" style="background-color:white;" href="{{ path('intervalle_show', {'idIntervalle': intervalle.idIntervalle}) }}" ><i class="bi bi-search"></i> infos</a>
                    <a class="btn" style="background-color:white;" href="{{ path('intervalle_edit', {'idIntervalle': intervalle.idIntervalle}) }}" ><i class="bi bi-pencil-square"></i> modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
