{% extends 'base.html.twig' %}

{% block title %}Liste des Capteurs{% endblock %}

{% block body %}
<div class="container">

    <center><h1>liste des Capteurs</h1></center>
    <a class="btn" style="background-color:rgb(93, 160, 104);color:white;" href="{{ path('capteur_new') }}"><i class="bi bi-plus-square"></i> capteur</a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>indice</th>
                <th>Nom</th>
                <th>Seuil min</th>
                <th>Seuil max</th>
                <th>Date De Creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capteur in capteurs %}
            <tr class="table-info">
                <td>{{ capteur.idCapteur }}</td>
                <td> {{capteur.ref.idIntervalle}} </td>
                <td>{{ capteur.nom }}</td>
                <td>{{ capteur.seuilmin }}</td>
                <td>{{ capteur.seuilmax }}</td>
                <td>{{ capteur.createdAt ? capteur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn" style="background-color:white;" href="{{ path('capteur_show', {'idCapteur': capteur.idCapteur}) }}"><i class="bi bi-search"></i> infos</a>
                    <a class="btn" style="background-color:white;"  href="{{ path('capteur_edit', {'idCapteur': capteur.idCapteur}) }}"><i class="bi bi-pencil-square"></i> modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
