{% extends 'base.html.twig' %}

{% block title %}Capteur{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="col-4">
    <center><h1>{{capteur.nom}}</h1></center>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th class="table-dark">Id</th>
                <td class="table-info">{{ capteur.idCapteur }}</td>
            </tr>
            <tr>
                <th class="table-dark">Nom</th>
                <td class="table-info">{{ capteur.nom }}</td>
            </tr>
            <tr>
                <th class="table-dark">Seuil min</th>
                <td class="table-info">{{ capteur.seuilmin }}</td>
            </tr>
            <tr>
                <th class="table-dark">Seuil max</th>
                <td class="table-info">{{ capteur.seuilmax }}</td>
            </tr>
            <tr>
                <th class="table-dark">Date de creation</th>
                <td class="table-info">{{ capteur.createdAt ? capteur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('capteur/_delete_form.html.twig') }}
    <a href="{{ path('capteur_index') }}">retour à la liste</a>

    <!-- <a href="{{ path('capteur_edit', {'idCapteur': capteur.idCapteur}) }}">modifier</a> -->
</div>
</div>
{% endblock %}
