{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <center><h1>gestion des comptes</h1></center>
    <a class="btn" style="background-color:rgb(93, 160, 104);color:white;" href="{{ path('admin_new') }}"><i style="font-size:20px;" class="bi bi-person-plus-fill"></i> compte</a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Email</th>
                <th>nom</th>
                <th>prenom</th>
                <th>telephone</th>
                <th>Roles</th>
                {# <th>Password</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="table-info">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role =="ROLE_USER" %}
                        utilisateur <br>
                        {% else %}
                        admin <br>
                        {% endif %}
                    {% endfor %}
                </td>
                {# <td>{{ user.password }}</td> #}
                <td>
                    <a class="btn" style="background-color:white;" href="{{ path('admin_show', {'id': user.id}) }}"><i class="bi bi-search"></i> infos</a>
                    <a class="btn" style="background-color:white;" href="{{ path('admin_edit', {'id': user.id}) }}"><i class="bi bi-pencil-square"></i> modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
