{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="col-4">
    <center><h1>compte <br> {{user.nom}} {{user.prenom}} </h1></center>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th class="table table-dark">Id</th>
                <td class="table table-info">{{ user.id }}</td>
            </tr>
            <tr>
                <th class="table table-dark">Email</th>
                <td class="table table-info">{{ user.email }}</td>
            </tr>
            <tr>
                <th class="table table-dark">Nom</th>
                <td class="table table-info">{{ user.nom }}</td>
            </tr>
            <tr>
                <th class="table table-dark">Prenom</th>
                <td class="table table-info">{{ user.prenom }}</td>
            </tr>
            <tr>
                <th class="table table-dark">Telephone</th>
                <td class="table table-info">{{ user.telephone }}</td>
            </tr>
            <tr>
                <th class="table table-dark">Roles</th>
                <td class="table table-info">
                    {% for role in user.roles %}
                        {% if role =="ROLE_USER" %}
                        utilisater 
                        {% else %}
                        admin 
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <!-- <tr>
                <th class="table table-dark">Password</th>
                <td class="table table-info">{{ user.password }}</td>
            </tr> -->
        </tbody>
    </table>

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('admin_index') }}">retour à la liste</a>

    <!-- <a href="{{ path('admin_edit', {'id': user.id}) }}">edit</a> -->
</div>
</div>
{% endblock %}
